/* TAGS START */
/*body {
	background-color: #EAEAEA;
	font-family: Verdana;
	font-size: 12px;
}*/
/* TAGS END */

/* CLASS START */


.well-nobgcolor {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}	

#display {
	margin-top:30px;
}

/*.container {
	width			: 800px;
	margin-right	: auto;
	margin-left		: auto;
	margin-top		: 50px; 
	border			: solid #A0A0A0 1px;
	background-color: #DDDDDD;
	text-align		: center;
}*/

.login_form {
	background-color: #CCCCCC;
	margin-right	: auto;
	margin-left		: auto;
	margin-top 		: 50px;
	border			: solid #A0A0A0 1px;
	text-align		: center;
	width 			: 400px;
}

.login_left {
	float: left;
	width: 100px;
}
.login_right {
	float: right;
	width: 300px;
}
.login_row {
	width: 400px;
	text-align: center;
	height: 15px;
	
}
.login_textfield {
	width: 200px;
}
/* CLASS END */

/* ID START */
/* ID END */

